.strong {
  font-weight: 800;
}

.scaffoldSection {
  height: auto;
  padding: 12px;
}

.router-view {
  border-left: 1px solid lightblue;
}

.connectHeader {
  height: 50px;
  background: #85C1E9;
  border-bottom: 1px solid #3498DB;
  margin-bottom: 5px;
}

.wallTile {
  min-height: 100px;
  margin: 2px;
  background-color: #5DADE2;
  color: white;
  border-radius: 2.5px;
  width: 24%;
  vertical-align: middle;
}

.wallTile.group_0 {
  background-color: #D2B4DE;
}

.wallTile.group_1 {
  background-color: #AED6F1;
}

.wallTile.group_2 {
  background-color: #A9DFBF;
}

.wallTile.group_3 {
  background-color: #EC7063;
}

.wallTile.active {
  background-color: #45B39D;
}

.router-view ul {
  padding: 0;
}

.margin-top-gone {
  margin-top: 0;
}

